{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container py-5 rounded-0">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow rounded-0">
        <div class="card-header bg-light text-white text-center rounded-0">
          <h4 class="mb-0 text-black">{% trans "Confirmar inicio de sesión" %}</h4>
        </div>
        <div class="card-body text-center">
          <p>{% blocktrans %}Estás a punto de iniciar sesión usando tu cuenta de Google.{% endblocktrans %}</p>
          
          <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-light">
              <i class="fab fa-google me-2"></i> {% trans "Continuar" %}
            </button>
          </form>

          
        <a href="{% url 'account_login' %}" class="btn btn-light mt-3">
            {% trans "Cancelar" %}
        </a>
        
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
