.card-img-top{

    height: 200px;
    object-fit: contain;

}


.product-card .hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.product-card:hover .hover-img {
  opacity: 1;
}

.product-card .main-img {
  display: block;
}