{% extends 'base.html' %}
{% load static %}


{% block content %}


<div class="container-fluid">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2">
    {% for product in products %}
      <div class="col">
        <div class="card h-100 rounded-0 border-0">
          <a href="{% url 'product' product.id %}">
            {% if product.images.first %}
              <img src="{{ product.images.first.image.url }}" class="card-img-top img-fluid"  style="height: 200px; object-fit: contain;" alt="{{ product.name }}">
            {% else %}
              <img src="{% static 'imgs/placeholder.jpg' %}" class="card-img-top img-fluid" style="height: 200px; object-fit: contain;"  alt="Sin imagen">
            {% endif %}
          </a>
          <div class="card-body">
            <h6 class="card-title text-center"> {{ product.name }} </h1>
            <p style="font-size: 12px;" class="card-text text-center">${{ product.price }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>




{% endblock %}



