{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2">
    {% for product in products %}
    {% if product.visible == True %}
      <div class="col">
        <div class="card h-100 rounded-0 border-0 product-card">
          <a href="{% url 'product' product.id %}" class="position-relative d-block">
            {% if product.images.all|length >= 2 %}
              <img src="{{ product.images.all.0.image.url }}" class="card-img-top main-img img-fluid" style="height: 200px; object-fit: contain;" alt="{{ product.name }}">
              <img src="{{ product.images.all.1.image.url }}" class="card-img-top hover-img img-fluid" style="height: 200px; object-fit: contain;" alt="{{ product.name }}">
            {% elif product.images.first %}
              <img src="{{ product.images.first.image.url }}" class="card-img-top main-img img-fluid" style="height: 200px; object-fit: contain;" alt="{{ product.name }}">
            {% else %}
              <img src="{% static 'imgs/placeholder.jpg' %}" class="card-img-top main-img img-fluid" style="height: 200px; object-fit: contain;" alt="Sin imagen">
            {% endif %}
          </a>
          <div class="card-body">
            <p class="fs-8 card-text text-center" style="font-size: 14px"><b>{{ product.name }}</b> <br> ${{ product.price }} </p>
          </div>
        </div>
      </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}



