{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
  <h2 class="mb-4">Perfil</h2>

  <!-- Información del usuario -->
  <div class="card mb-4">
    <div class="card-header bg-light text-black">
      <h5 class="mb-0">Datos de Usuario</h5>
    </div>
    <div class="card-body">
      <p><strong>Username:</strong> {{ user.username }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
    </div>
  </div>

  <!-- Información del cliente -->
  {% if customer %}
  <div class="card mb-4">
    <div class="card-header bg-light text-black">
      <h5 class="mb-0">Información del Cliente</h5>
    </div>
    <div class="card-body">
      <p><strong>Nombre:</strong> {{ customer.name }}</p>
    </div>
  </div>
  </div>
  {% else %}
    <p class="alert alert-warning">No se ha creado un perfil de cliente aún.</p>
  {% endif %}
{% endblock %}


{% block logout %}
<div class="container py-2">
  <form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Cerrar Sesión</button>
  </form>
</div>
{% endblock %}
